#### Importing

In [10]:
import pandas as pd
#import unittest 
from pandas.util.testing import assert_frame_equal

#### Reading in data

In [11]:
pscore = pd.read_csv('personality_scores.csv',delimiter=";")
pscore.dropna(axis='columns').head(2)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"

#### Examining datasets for duplicates

In [12]:
# sorting by first name 
pscore.sort_values("ID", inplace = True)
pscore

# dropping ALL duplicte values 
dropped_pscore = pscore.drop_duplicates(subset ="ID", 
                     keep = False, inplace = False) 
len(dropped_pscore)

1555

#### Checking the lengths of the datasets using assert

In [13]:
#assertEqual(pscore, dropped_pscore)

def same(length):
    assert len(pscore) == len(dropped_pscore)
    return True
       
same('')

True

#### Creating columns containing the total score of each of the personality test subscales

In [14]:
def assigning(row,Category_Num):
    count = 0
    asd = 0
    for column in dropped_pscore.columns:
        tuplee = row[column]
        if type(tuplee) == str:
            catergory = tuplee[1]
            result = int(tuplee[4])
            if catergory == Category_Num:
                count += result
    return count

In [15]:
dropped_pscore['Extraversion'] = dropped_pscore.apply(lambda row : assigning(row,'1'), axis = 1)
dropped_pscore['Agreeableness'] = dropped_pscore.apply(lambda row : assigning(row,'2'), axis = 1)
dropped_pscore['Conscientiousness'] = dropped_pscore.apply(lambda row : assigning(row,'3'), axis = 1)
dropped_pscore['Emotional Stability'] = dropped_pscore.apply(lambda row : assigning(row,'4'), axis = 1)
dropped_pscore['Openness to experiences'] = dropped_pscore.apply(lambda row : assigning(row,'5'), axis = 1)

In [50]:
dropped_pscore.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Openness to experiences
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,28,34,46,38,36

#### Importing department dataset

In [69]:
department = pd.read_csv('/home/recruit/Desktop/dw/departments .csv',delimiter=";")
department.head()

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data

In [71]:
department.shape

(1555, 2)

#### Checking for nan values in dataset

In [64]:
department.isnull().sum()

ID;Department    0
dtype: int64

#### Merging Department dataframe with the personality score dataframe

In [79]:
combined_data = pd.merge(left=dropped_pscore, right=department, left_on='ID', right_on='ID')

combined_data.head()

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK,Extraversion,Agreeableness,Conscientiousness,Emotional Stability,Openness to experiences,Department
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,30,40,48,36,42,Data
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,42,46,46,40,42,Data
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,28,40,40,38,42,Data
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,30,38,38,40,38,Data
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,28,34,46,38,36,Data

In [80]:
def sameLength(length):
    assert len(department) == len(combined_data)
    return True
       
sameLength('')

True